header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0px 100px;
}

.nav-list {
  display: flex;
  column-gap: 50px;
}

.banner-container {
  width: 100%;
  height: 722px;
  border: 2px solid blue;
  background-image: url("../images/banner_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
